@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xxs: 8rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --size-sm: calc(12px + 0.18vw);
  --size-regular: 18px;
  --size-headline: calc(24px + 0.12vw);
  --size-cater: calc(14px + 0.15vw);
  --size-title: 32px;
  --size-hero-title: 48px;

  /*color-scheme-1*/
  --primary-color: #47d9b5;

  --background-navbar: #0a6d86;

  --paragraph-title: #4a4a4a;
  --paragraph-subtitle: #8f9192;
  --paragraph-content: #494e55;

  --accent-color-1: #e26655;
  --accent-color-2: #37367d;
  --accent-color-3: #c23dd3;
  --accent-color-4: #178b6e;

  --background-main-content-1: #ececec;
  --background-main-content-2: #d8e9e9;
  --background-main-content-3: #f0f0f0;
  --background-footer: #404040;

  /*color-scheme-2*/
  --navbar-background: rgba(10, 60, 134, 0.8);
  --primary-background: rgb(241, 242, 243);
  --aux-background: rgb(67, 67, 82);

  --color-gray-text: rgb(207, 210, 212);
  --color-blue-title: rgb(79, 41, 182);

  --bg-main-btn: rgb(102, 74, 13);
  --bg-aux-btn: rgb(155, 114, 25);

  --color-accent-one: rgb(42, 41, 44);
  --color-accent-two: rgb(80, 72, 97);

  /* base-evolution number(Ev_N) Calculation
  1rem = 16px;
  default font-size = 18px;
  18px/16px = 1.125rem

  Ev_N (padding ,margin, font-size -> multiple of this ratio)

   Ev_N = 1.125/5 = 0.225rem */
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  /*  color: var(--paragraph-content); */
  color: var(--color-gray-text);
  background-color: var(--color-accent-one);

  font-size: 1.125rem;
  /* base-evolution number Ev_N = 1.125/5 = 0.225rem */
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

h1 {
  /* 1 Ev_N = 0.225rem; */
  font-size: var(--size-hero-title);
  line-height: 3.7125rem; /* 16.5 Ev_N */
  color: var(--color-blue-title);
}

h2 {
  font-size: var(--size-title);
  line-height: 2.475rem;
  width: max-content;
}

h3 {
  font-size: 26px;
  line-height: 1.8rem;
  word-wrap: break-word;
}

h4 {
  font-size: 22px;
  line-height: 2.025rem; /* 9 Ev_N */
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: calc(15px + 0.1vw);
}

p.text_usage {
  width: 90%;
  line-height: 1.98rem;
}

p.loc_img {
  width: max-content;
  font-size: 0.675rem; /* 4 Ev_N */
  margin-top: 4px;
}

p.testim_say {
  font-size: 0.7875rem;
  font-weight: 350;
}

p.service_attend {
  font-size: 0.945rem;
  font-weight: 300;
  text-align: center;
}

span {
  display: block;
  width: 90%;
  font-size: var(--size-cater);
  line-height: 1.8rem;
}

span.small_sp {
  width: 76%;
  font-size: var(--size-sm);
  font-weight: 300;
  text-align: center;
  line-height: 1.35rem;
}

a.btn {
  cursor: pointer;
  display: block;
  width: 11.925rem; /* 53*0.225 */
  padding: 0.675rem 2.025rem;
  font-size: 0.92em;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
  transform: scale(1);
  transition: all 0.2s ease;
}

a.btn.btn_wrap {
  font-size: 0.855rem;
  width: max-content;
  padding: 0.54rem 2.025rem;
  box-shadow: 0 0 0 transparent;
  transform: scale(0.9);
  display: grid;
  place-items: center;
}

a.btn_link {
  cursor: pointer;
  width: max-content;
  font-size: 0.9rem;
  padding-bottom: 0.3375rem;
  color: inherit;
  letter-spacing: 1px;
  display: block;
  transition: all 350ms ease-in-out;
}

a.btn_link:hover {
  cursor: pointer;
  width: max-content;
  padding-bottom: 0.225rem;
  color: var(--bg-aux-btn);
  letter-spacing: 3px;
  display: block;
}

a.btn_contact {
  background-color: var(--bg-main-btn);
}

a.btn_contact:hover {
  background-color: var(--bg-aux-btn);
}

/* a.btn_find {
  opacity: 1;
  color: var(--background-main-content-1);
  background-color: var(--accent-color-2);
}

a.btn_work {
  opacity: 1;
  color: var(--background-main-content-1);
  background-color: var(--accent-color-4);
} */

/* a.btn_find:hover,
a.btn_work:hover {
  opacity: 1;
  transform: scale(0.96);
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.19);
} */

.source-sans-3-600 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-flex-300 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
