@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xxs: 8rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --size-sm: calc(0.675rem + 0.18vw);

  --size-cater: calc(0.7875rem + 0.08vw);
  --size-regular: calc(0.945rem, 1.125rem, 1.17rem); /* 18px; */

  --size-h3: calc(1.575rem + 0.1vw);
  --size-h4: calc(1.35rem + 0.1vw);
  --size-h5-h6: calc(1.0125rem + 0.05vw);

  --size-main-title: calc(1.9125rem + 0.1vw);
  --size-hero-title: calc(2.6775rem + 0.15vw);

  /* color-scheme-1 */
  --color-title: hsl(256, 63%, 44%);
  --primary-background: hsl(256, 69%, 8%);
  --color-text: hsl(256, 12%, 90%);
  --aux-background: hsl(259, 15%, 33%);
  --highlight-text: hsl(41, 72%, 35%);

  --navbar-background: hsla(216, 86%, 28%, 0.8);

  --accent-color-one: hsl(41, 48%, 25%);
  --accent-color-two: hsl(256, 38%, 85%);
  --accent-color-three: hsl(41, 72%, 52%);

  /* base-evolution number(Ev_N) Calculation
  1rem = 16px;
  default font-size = 18px;
  18px/16px = 1.125rem

  Ev_N (padding ,margin, font-size -> multiple of this ratio)

   Ev_N = 1.125/5 = 0.225rem */
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  color: var(--color-text);
  background-color: var(--primary-background);
  font-size: var(--size-regular);
  /* base-evolution number Ev_N = 1.125/5 = 0.225rem */
  line-height: 1.5;
  /* overflow-x: hidden; */
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

h1 {
  /* 1 Ev_N = 0.225rem; */
  font-size: var(--size-hero-title);
  line-height: 3.7125rem; /* 16.5 Ev_N */
  color: var(--color-title);
}

h2 {
  font-size: var(--size-main-title);
  line-height: 2.475rem;
  width: max-content;
}

h3 {
  font-size: var(--size-h3);
  line-height: 1.8rem;
  word-wrap: break-word;
}

h4 {
  font-size: var(--size-h4);
  line-height: 2.025rem; /* 9 Ev_N */
}

h5,
h6,
p.nav_p_link {
  font-size: var(--size-h5-h6);
}

p.loc_img {
  width: max-content;
  font-size: var(--size-sm); /* 4 Ev_N */
  margin-top: 4px;
}

p.small_ft {
  /*  font-size: clamp(0.63rem, 0.7875rem, 0.81rem); */
  font-size: var(--size-cater);
  font-weight: 200;
  line-height: 1.35rem;
}

p.light_ft {
  font-size: var(--size-cater);
  font-weight: 300;
  text-align: center;
}

p.large_ft {
  font-size: var(--size-hero-title);
  font-weight: bold;
  line-height: 3.05rem;
  color: var(--color-gray-text);
}

span {
  display: block;
  width: 90%;
  font-size: var(--size-cater);
  line-height: 1.8rem;
}

span.small_sp {
  width: 76%;
  font-size: var(--size-sm);
  font-weight: 300;
  text-align: center;
  line-height: 1.35rem;
}

a.btn {
  cursor: pointer;
  display: block;
  width: 11.925rem; /* 53*0.225 */
  padding: 0.765rem 2.025rem;
  /*  font-size: 1.02em; */
  font-size: var(--size-regular);
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.19);
  transform: scale(1);
  transition: all 0.2s ease;
}

a.btn.btn_wrap {
  /*  font-size: calc(0.855rem + 0.015vw); */
  font-size: var(--size-cater);
  width: max-content;
  padding: 0.54rem 2.025rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
  transform: scale(0.9);
  display: grid;
  place-items: center;
}

a.btn_link {
  cursor: pointer;
  width: max-content;
  /* font-size: calc(1.035rem + 0.12vw); */
  font-size: var(--size-cater);
  padding-bottom: 0.3375rem;
  color: inherit;
  letter-spacing: 1px;
  display: block;
  transition: all 350ms ease-in-out;
}

a.btn_link:hover {
  cursor: pointer;
  width: max-content;
  padding-bottom: 0.225rem;
  color: var(--highlight-text);
  letter-spacing: 3px;
  display: block;
}

a.btn_contact {
  background-color: var(--highlight-text);
  opacity: 0.94;
}

a.btn_contact:hover {
  background-color: transparent;
}

a.link_footer {
  padding-left: 0.85%;
  font-size: var(--size-sm);
  font-weight: 300;
}

/* a.btn_find {
  opacity: 1;
  color: var(--background-main-content-1);
  background-color: var(--accent-color-2);
}

a.btn_work {
  opacity: 1;
  color: var(--background-main-content-1);
  background-color: var(--accent-color-4);
} */

/* a.btn_find:hover,
a.btn_work:hover {
  opacity: 1;
  transform: scale(0.96);
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.19);
} */

.source-sans-3-600 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-flex-300 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
